spring:
  application:
    name: MartianRobots
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb
    username: sa
    password:
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2-ui

server:
  port: 8080

logging:
  level:
    root: ERROR
    org.springframework.web: WARN
    com.sergi.martianrobots: INFO
    org.hibernate: WARN
